<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BlackListedPrefix" value="db=;tb=;cd=Codigo;ic=Eh;nu=Numero;vl=Valor;nm=Nome;dt=Data;ds=Descricao"/><!--This generates a Dictionary. Where ';' separates the KeyPairValue items and '=' separates Key from Value.-->
    <add key="TypeReplaceList" value="int=int;varchar=string;decimal=decimal;datetime=DateTime;bit=bool;tinyint=short;char=char"/><!--This generates a Dictionary. Where ';' separates the KeyPairValue items and '=' separates Key from Value.-->
    <add key="CamelCaseSpliterArray" value="_,-, ,|,/,\"/><!--Comma separated.-->
  </appSettings>
</configuration>