<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultConnection" value="Persist Security Info=True; User ID=root;Password=root; Initial Catalog=db_brasvalor; Data Source=localhost"/>
    <add key="TargetFilesUrl" value="C:\Subversion\TCC\trunk\QuickCodeSel.Interface\bin\Debug\Templates"/>
    <!--MySql Key Type names-->
  </appSettings>
  <connectionStrings>
    <add name="Local" connectionString="Password=root; Persist Security Info=True; User ID=root; Initial Catalog=db_brasvalor; Data Source=localhost" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>